// ////////////////////////////////////////////////////////////
// ////////////               FONTS              //////////////
// ////////////////////////////////////////////////////////////

// EXAMPLE
// @font-face {
//   font-family: "Circe-Bold";
//   src: url('~@/assets/fonts/Circe-Bold.ttf') format("truetype");
// }


// ////////////////////////////////////////////////////////////
// ////////////          BASE VARIBALES          //////////////
// ////////////////////////////////////////////////////////////

$desktop = 1023px;
$yellow = #fbeb0b;
$blue = #2076ee;
$pink = #FF3179;